.color-page {
  --page-height: calc(100vh - var(--nav-height) - var(--footer-height));
  overflow-y: auto;

  display: flex;
  height: var(--page-height);
  width: 100%;
  position: relative;

  & > * {
    flex-basis: 50%;
    height: var(--page-height);
  }

  &__image-wrapper {
    @include center;
    flex-direction: column;
    padding: 1.5rem;
  }

  &__attribution {
    @include ff-mono;
    text-align: center;
    font-size: 0.9em;
    padding: 0.5em 2em;
    background-color: var(--ui-bg-alt);

    a {
      font-weight: 700;
    }
  }

  &__image-shell-wrapper {
    @include center;
    margin: 1rem;
    width: clamp(200px, 40vmin, 450px);
    min-height: 60vh;
  }
  
  &__image-shell {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 125%;
    background-color: var(--ui-bg-alt);
    position: relative;
    border: clamp(0.5rem, 1vw, 0.75rem) solid var(--ui-bg-alt);
    @include shadow-large;
  }
  
  &__image {
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: center;
    }
  }

  &__download-link {
    @include transition;
    font-size: 1.2em;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5rem;
    opacity: 0.5;
    color: #fff;

    &:hover {
      opacity: 1;
    }
  }

  &__details-wrapper {
    @include center;
    flex-direction: column;
    flex: 1 1 50%;
    background-color: var(--ui-bg-alt);
    padding: clamp(1.5rem, 5vw, 3rem);
    font-size: clamp(2rem, 5vmax, 3.5rem);
    width: 100%;
  }

  &__details {
    max-width: 550px;
    width: 85%;
  }

  &__header {
    margin-bottom: 0.4em;
  }

  &__name {
    letter-spacing: -1px;
    font-size: 1em;
    line-height: 1;
    margin-bottom: 0.3rem;
    position: relative;
  }

  .smile-icon {
    font-size: 0.35em;
  }

  &__color-group {
    font-size: 0.5em;
    font-weight: normal;
    color: rgba(var(--ui-text-rgb), 0.6);
  }

  &__color-values {
    margin-bottom: 0.5em;
  }
  
  &__color-value {
    margin-bottom: 0.3em;
  }
  
  &__value {
    font-size: 0.5em;
    font-weight: 700;
    line-height: 1.2;
  }
  
  &__label {
    font-size: clamp(0.8rem, 0.35em, 0.4em);
    font-family: monospace;
    color: rgba(var(--ui-text-rgb), 0.6);
  }

  &__link {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 0.4em;
    padding: 0 0.5em;
    padding-left: 0;

    &:not(:first-child) {
      padding-left: 0.5em;
      padding-right: 0;
    }
  }
}

@include md {
  .color-page {
    flex-direction: column;

    & > * {
      min-height: 100vh;
    }

    & > &__details-wrapper {
      min-height: unset;
    }

    &__details {
      @include center;
      flex-direction: column;
      width: 100%;
      text-align: center;
    }
  }
}