button,
.button {
  @include center;
  @include shadow;
  @include transition(all, 0.2s);
  position: relative;
  color: var(--ui-accent-1);
  border: none;
  appearance: none;
  margin: 0.5rem 0;
  padding: 0.75rem 1.5rem;
  transform: scale(1);
  border: 1px solid var(--ui-accent-1);
  background-color: transparent;
  letter-spacing: 0;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;
  white-space: nowrap;
  z-index: 1;

  span {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
  }

  &:hover {
    @include shadow-hover;
    color: var(--ui-accent-1);
    background-color: var(--white);
    transform: translateY(-5px);
    cursor: pointer;
  }

  &:active {
    transform: translate(0.5rem, 0.5rem);
  }

  &:hover::after {
    transform: translate(0.75rem, 0.75rem);
  }

  &:active::after {
    transform: translate(0, 0);
  }

  &:not(:last-child) {
    margin-right: 0.5rem;
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgba(var(--ui-accent-1-rgb), 0.8);
  }
}
