.color-grid {
  --margin: 1rem;
  display: flex;

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: var(--margin);
  }
  
  &__list-item {
    @include transition;
    flex: 1 1 180px;
    justify-content: center;
    margin: var(--margin);
    cursor: pointer;

    &.active {
      .color-grid__swatch {
        border: 1px solid var(--ui-bg-alt);
      }
    }
    
    &:hover {
      @include shadow-hover;
      transform: scale(1.03);
    }

    &.hidden {
      visibility: hidden;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  
  &__group-title {
    hyphens: auto;
  }
}