.color-group {
  @include shadow;
  background-color: var(--ui-bg-alt);

  &__label {
    font-size: 2rem;
    font-weight: 700;
  }
  
  a.link-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__link {
    height: 100%;
    padding: 1.5rem;
  }
  
  .arrow__icon {
    align-self: flex-end;

    &.back {
      align-self: flex-start;
    }
  }

  &:hover {
    @include shadow-hover;
  }
}