.nav {
  width: 100%;
  padding: var(--nav-padding);
  background-color: rgba(var(--white-rgb), 0.8);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  z-index: 10;

  &__container {
    @include center;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 0 2rem 0 calc(2rem - var(--logo-padding)) ;
  }

  &__credit {
    font-size: 0.8rem;
    font-family: monospace;
    color: rgba(var(--ui-text-rgb), 0.8);
    padding: 0.5rem;
    line-height: 1.2;
    transform: translateY(-5px);

    a {
      color: rgba(var(--ui-text-rgb), 0.8);
      padding: 0;
    }
  }
}