:root {
  --max-width: 1200px;
  --nav-padding: 0px;
  --logo-desired-height: 50px;
  --logo-padding: 1rem;
  --logo-height: calc(var(--logo-desired-height) + 2 * var(--logo-padding));
  --nav-height: calc(var(--logo-height) + 2 * var(--nav-padding));
  --footer-text-size: 0.8rem;
  --footer-padding: 1rem;
  --footer-height: calc(var(--footer-text-size) + 2 * var(--footer-padding));
}